<h1 class="my-3">FORD</h1>
<div class="row row-cols-1 row-cols-md-2">
  <div class="col" *ngFor="let car of fordCars">
    <div class="card">
      <img src="{{ car.modelImage }}" class="card-img-top" alt="brandLogo" />
      <div
        class="card-body"
        [ngStyle]="
          car.available
            ? { 'background-color': 'green' }
            : { 'background-color': 'red' }
        "
      >
        <h5 class="card-title">Model: {{ car.brand }}</h5>
        <p class="card-title">Price: {{ car.price }}$</p>
        <a routerLink="/" class="btn btn-primary">Torna in Home</a>
      </div>
    </div>
  </div>
</div>
